@import "../../styles/variables";
.header {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
  svg {
    cursor: pointer;
  }
  .wrapper {
    display: flex;
    align-items: center;
  }
  .title {
    margin-left: 20px;
    color: $primary-color;
  }
  .select {
    margin-right: 20px;
  }
}
